# Server Configuration
PORT=3000
NODE_ENV=development

MODEL_MEMORY=openai/gpt-4o-mini

# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=open-routers

# LangSmith Configuration
LANGSMITH_API_KEY=lsv2_pt

# OpenAI Configuration (if using OpenAI)
OPENAI_API_KEY=

LANGFUSE_PUBLIC_KEY=pk-lf-f
LANGFUSE_SECRET_KEY=sk-lf-8
LANGFUSE_BASE_URL=https://cloud.langfuse.com
SERPER_API_KEY=938bb3296ca1d