# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=open-routers

# LangSmith Configuration
LANGSMITH_API_KEY=your_langsmith_api_key_here

# OpenAI Configuration (if using OpenAI)
OPENAI_API_KEY=your_openai_api_key_here

LANGFUSE_PUBLIC_KEY=pk-l...a09055bfb
LANGFUSE_SECRET_KEY=sk-l...a105bc2
LANGFUSE_BASE_URL=https://cloud.langfuse.com